@import "../assets/Variables.scss";

.card {
  padding: 1%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
  transition: 0.15s cubic-bezier(0, 0, 0.55, 1.48);
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

p{
  font-family: $font-texts;
  font-weight: 500;
  font-size: 16px;
}