@import "../assets/Variables.scss";

.header_dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.dots_header_2 {
  opacity: 0;
}

//DESKTOP

.dots_header {
  height: 25px;
  border-radius: 30px;
  background-color: $blue;
  padding: 8px;
  transition: 0.25s ease-out;
  cursor: pointer;
  transition: 0.15s cubic-bezier(0, 0, 0.55, 1.48);

  &:hover{
    transform: scale(1.1);
  }
}

//MOBILE

.dots_header_mobile {
  height: 25px;
  border-radius: 30px;
  background-color: $blue;
  padding: 8px;
  transition: 0.25s ease-out;
  cursor: pointer;
  transition: 0.15s cubic-bezier(0, 0, 0.55, 1.48);

  &:hover{
    transform: scale(1.1);
  }
}
