@import "../assets/Variables.scss";

.footer_text,
.footer_name {
  color: $blue;
  text-decoration: none;
  font-family: $font-texts;
  font-weight: 400;
  font-size: 14px;
  transition: 0.15s ease-out;

  .footer_name:hover {
    color: white;
  }
}

span {
  position: relative;
  bottom: 25px;
  padding: 0px;
  margin: 0px;
}
