@import "../assets/Variables.scss";

.header_big_image {
  width: calc(120px + 0.390625vw);
  border-radius: 100px;
}

.header_small {
  width: 90vw;
  border-radius: 50px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: -100px;
  padding: 0px 10px;
  z-index: 2;
  border: 2px solid $blue;
  background-color: rgba(72, 72, 72, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
}

.dots_header_1{
  border-radius: 40px;
  background-color: $blue;
  height: 25px;
  padding: 8px;
  cursor: pointer;
}

.dots_header_2{
  height: 40px;
  opacity: 0;
}

.show_header {
  animation: moveDown 0.5s forwards;
}

.hide_header{
  animation: moveUp 0.5s forwards;
}

@keyframes moveDown {
  from {
    top: -100px;
  }
  to {
    top: 25px;
  }
}

@keyframes moveUp {
  from {
    top: 25px;
  }
  to {
    top: -100px;
  }
}

.header_small_image {
  width: calc(40px + 0.390625vw);
  padding: 5px;
}

h1 {
  font-size: calc(18px + 0.390625vw);
  font-family: $font-titles;
  font-weight: 600;
  color: $blue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
