@import "../assets/Variables.scss";

section{
  padding-top: 5%;
}

img {
  width: calc(90px + 0.390625vw);
  padding: 5px;
}

h1 {
  font-size: calc(18px + 0.390625vw);
  font-family: $font-titles;
  color: $blue;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}