@import "../assets/Variables.scss";

.share_box {
  opacity: 1;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: 90vh;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid black;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 5;
}

.share_bg{
  background-color: rgba(0, 0, 0, 0.496);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}