@import "../assets/Variables.scss";

.social_button_parent {
  text-decoration: none;
  cursor: pointer;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  width: 90%;
  padding: 8px;
  height: 40px;
  border-radius: 10px;
  transition: 0.25s ease-out;

  &:hover {
    background-color: rgb(235, 235, 235);
  }
}

.social_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social_icon {
  width: 28px;
  border-radius: 8px;
}

.social_icon_2 {
  width: 24px;
  padding: 2px;
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
}

.arrow {
  width: 20px;
}
