@import "../assets/Variables.scss";

.social_button_parent {
  text-decoration: none;
  cursor: pointer;
  color: $blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  width: 90%;
  padding: 8px;
  height: 40px;
  border-radius: 10px;
  transition: 0.2s ease-out;

  &:hover {
    background-color: $green;
    filter: invert(0.075);    
    transform: scale(1.035);

    .arrow {
      translate: 0px;
      transform: scale(1);
      transform: translateX(5);
    }
  }
}

.social_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social_icon {
  width: 28px;
  border-radius: 8px;
}

.social_icon_2 {
  width: 24px;
  padding: 2px;
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
}

.arrow {
  translate: -75px;
  transform: scale(0);
  width: 20px;
  transition: 0.2s ease-out;
}
